body{
    background-image: url(imgtrivia/10740576.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

nav ul{
    margin-right: 15px;
    text-align: right;
    
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    height: 50px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    background-color: white;
    line-height: 50px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

.comenzar li a{
    color: black;
    text-decoration: none;
    background-color: white;
    line-height: 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
}