* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}



nav {
    background-color: #313131;
}

nav ul{
    margin-right: 15px;
    text-align: center;
    
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    height: 50px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    line-height: 50px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
}


.container {
    background-color: rgb(65, 65, 65);
    text-align: center;
    
}
        
aside {
    background-color: rgb(65, 65, 65);
    display: inline-block;
    width: 25%;
    height: 100%;
}
        
main {
    background-color: rgb(30, 215, 96);
    display: inline-block;
    width: 60%;
    height: 100%;
    vertical-align: top;
}

aside ul{
    padding: 0;
    margin: 0;
}

aside ul li {
    display: block;
    margin: 10px;
    
}

aside ul li a{
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color: #000000;
    color: white;
    text-decoration: none;
    padding: 40px;
    border-radius: 10px;
    font-family: Arial, sans-serif;
    text-align: center;
    list-style-type: none;
}


footer{
    background-color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    
}

footer .columna {
    color: white;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgb(255, 255, 255);
    width: 25vw;
    padding: 10px;
    min-height: 130px;
}

#columna2 ul li{
    text-align:center;
    list-style-type:none;
    width: 395px
    
}


#columna3 ul li a img{
    text-align: center;
    width: 30px;
    margin-top: 20px;
}
#columna3 ul li{
    text-align: center;
    list-style-type: none;
    float: left;
    margin-left: 70px;
    
}