li a{
    color: black;
    text-decoration: none;
    background-color: white;
    line-height: 50px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 5px;

}

li{
    margin-bottom: 20px;
    list-style-type: none;

}