body{
    height: 100%;
    background-image:url(img/sbremi.webp);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-color: grey;
    color: white;
}
html{
    height: 100%;
}

div{
    height: 100%;
}

th a{

    color: white;
}


nav ul{
    margin-right: 15px;
    text-align: right;
    
}


nav ul li{
    
    list-style-type: none;
    display: inline-block;
    text-align: center;
    height: 50px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: white;
    line-height: 50px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

table{

    border: 4px solid black;
    background-color:rgba(125, 125, 125, 0.6); color: black;
    width: 500px;
    margin: auto;
}

#columna2 ul li{
    text-align:center;
    list-style-type:none;
    width: 300px
    
}



#columna3 ul li a img{
    text-align: center;
    width: 30px;
    margin-top: 10px;
}
#columna3 ul li{
    text-align: center;
    list-style-type: none;
    float: left;
    margin-left: 50px;
    
}

footer{
    background-color: grey;
    text-align: center;
    height: 20vh;
    
}

footer .columna {
    height: 150px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid rgb(255, 255, 255);
    width: 25vw;
    padding: 10px;
}

